<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRefPackLabel" jhiTranslate="assistanceApp.refPack.home.createOrEditLabel">Create or edit a Ref Pack</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]=true>
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="refPack.id" readonly />
        </div>
<ngb-tabset>
    <ngb-tab title="Pack">
        <ng-template ngbTabContent>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="assistanceApp.refPack.nom" for="field_nom">Nom</label>
                <input type="text" class="form-control" name="nom" id="field_nom"
                    [(ngModel)]="refPack.nom" required maxlength="60" pattern="^[A-Za-z ]+$" />
                <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                    <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                    </small>
                    <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                    This field cannot be longer than 60 characters.
                    </small>
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Nom' }">
                        This field should follow pattern for "Nom".
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="assistanceApp.refPack.description" for="field_description">Description</label>
                <input type="text" class="form-control" name="description" id="field_description"
                    [(ngModel)]="refPack.description" maxlength="2000" />
                <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                    <small class="form-text text-danger"
                    [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2000 }">
                    This field cannot be longer than 2000 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="assistanceApp.refPack.maxServices" for="field_maxServices">Max Services</label>
                <input type="number" class="form-control" name="maxServices" id="field_maxServices"
                    [(ngModel)]="refPack.maxServices" max="90" />
                <div [hidden]="!(editForm.controls.maxServices?.dirty && editForm.controls.maxServices?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.maxServices?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 90 }">
                        This field cannot be more than 90.
                    </small>
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.maxServices?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="assistanceApp.refPack.maxKil" for="field_maxKil">Max Kil</label>
                <input type="number" class="form-control" name="maxKil" id="field_maxKil"
                    [(ngModel)]="refPack.maxKil" max="9999" />
                <div [hidden]="!(editForm.controls.maxKil?.dirty && editForm.controls.maxKil?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.maxKil?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 9999 }">
                        This field cannot be more than 9999.
                    </small>
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.maxKil?.errors?.number" jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="assistanceApp.refPack.isBloque" for="field_isBloque">Is Bloque</label>
                <input type="checkbox" class="form-control" name="isBloque" id="field_isBloque"
                    [(ngModel)]="refPack.isBloque"  />
            </div>

            
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Type de Service">
        <ng-template ngbTabContent>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="assistanceApp.refTypeService.nom" for="field_nom">Nom</label>
                <input type="text" class="form-control" name="nom" id="field_nom"
                    [(ngModel)]="refType.nom" required maxlength="60" />
                <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                    <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                    </small>
                    <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                    This field cannot be longer than 60 characters.
                    </small>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
