<!--Form with header-->
<div class="card" style="margin-top: 10%;margin-left: 10%;margin-right: 10%">
    <div class="card-block">

        <!--Header-->
        <div class="form-header  purple darken-4">
            <h3> Delete product:</h3>
        </div>

        <!--Body-->
       <form  >

       

         <div class="md-form">
            
            <input type="number" id="form4"  class="form-control" name="id" [(ngModel)]="id" >
            <label for="form4">Id</label>
        </div>

        
        <div class="text-center">
            <button class="btn btn-deep-purple"  (click)="deleteProduct()" >Delete</button>
        </div>
 

aa
       

        

       </form>
    </div>

    


    </div>

