
<div *ngIf="sysVille">
    <h2><span jhiTranslate="assistanceApp.sysVille.detail.title">Sys Ville</span> {{sysVille.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="assistanceApp.sysVille.nom">Nom</span></dt>
        <dd>
            <span>{{sysVille.nom}}</span>
        </dd>
        <dt><span jhiTranslate="assistanceApp.sysVille.gouvernorat">Gouvernorat</span></dt>
        <dd>
            <div *ngIf="sysVille.gouvernorat">
                <a [routerLink]="['/sys-gouvernorat', sysVille.gouvernorat?.id]">{{sysVille.gouvernorat?.nom}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sys-ville/'+ sysVille.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
