
                             
<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
<div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>GAC</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/" >Home!!!!! </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/allProduct"  >Show lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/add"  >Add</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/edit" >Edit</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" routerLink="/delete" >Delete!</a>
                 </li>

                 <li class="nav-item">
                    <a class="nav-link" routerLink="/pagination" >pagination</a>
                 </li>


                 <li class="nav-item">
                    <a class="nav-link" routerLink="/login" >Login</a>
                 </li>

                

            </ul>
           
        </div>
    </div>
</nav>





<router-outlet></router-outlet>