<div>
    <h2>
        <span jhiTranslate="assistanceApp.contrat.home.title">Contrats</span>
        <button class="btn btn-primary float-right jh-create-entity create-contrat" [routerLink]="['/', { outlets: { popup: ['contrat-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="assistanceApp.contrat.home.createLabel">
            Create new Contrat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'assistanceApp.contrat.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contrats">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="assistanceApp.contrat.numero">Numero</span></th>
            <th><span jhiTranslate="assistanceApp.contrat.debut">Debut</span></th>
            <th><span jhiTranslate="assistanceApp.contrat.fin">Fin</span></th>
            <th><span jhiTranslate="assistanceApp.contrat.voiture">Voiture</span></th>
            <th><span jhiTranslate="assistanceApp.contrat.assure">Assure</span></th>
            <th><span jhiTranslate="assistanceApp.contrat.pack">Pack</span></th>
            <th><span jhiTranslate="assistanceApp.contrat.compagnie">Compagnie</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contrat of contrats ;trackBy: trackId">
                <td><a [routerLink]="['../contrat', contrat.id ]">{{contrat.id}}</a></td>
                <td>{{contrat.numero}}</td>
                <td>{{contrat.debut | date:'mediumDate'}}</td>
                <td>{{contrat.fin | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="contrat.voiture">
                        <a [routerLink]="['../voiture', contrat.voiture?.id ]" >{{contrat.voiture?.immatriculation}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contrat.assure">
                        <a [routerLink]="['../assuree', contrat.assure?.id ]" >{{contrat.assure?.personne.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contrat.pack">
                        <a [routerLink]="['../ref-pack', contrat.pack?.id ]" >{{contrat.pack?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contrat.compagnie">
                        <a [routerLink]="['../ref-compagnie', contrat.compagnie?.id ]" >{{contrat.compagnie?.nom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../contrat', contrat.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contrat/'+ contrat.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contrat/'+ contrat.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

