
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContratLabel" >
            {{a}}
            </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]=true>
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contrat.id" readonly />
        </div>
        

         <ngb-tabset>
            <ngb-tab title="Contrat">
                <ng-template ngbTabContent>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="assistanceApp.contrat.numero" for="field_numero">Numero</label>
                        <input type="number" class="form-control" name="numero" id="field_numero"
                            [(ngModel)]="contrat.numero" required />
                        <div [hidden]="!(editForm.controls.numero?.dirty && editForm.controls.numero?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.numero?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.numero?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                                
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="assistanceApp.contrat.debut" for="field_debut">Debut</label>
                        <div class="input-group">
                            <input id="field_debut" type="text" class="form-control" name="debut" ngbDatepicker  #debutDp="ngbDatepicker" [(ngModel)]="contrat.debut"
                            required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" (click)="debutDp.toggle()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div [hidden]="!(editForm.controls.debut?.dirty && editForm.controls.debut?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.debut?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="assistanceApp.contrat.fin" for="field_fin">Fin</label>
                        <div class="input-group">
                            <input id="field_fin" type="text" class="form-control" name="fin" ngbDatepicker  #finDp="ngbDatepicker" [(ngModel)]="contrat.fin"
                            required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" (click)="finDp.toggle()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div [hidden]="!(editForm.controls.fin?.dirty && editForm.controls.fin?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.fin?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label jhiTranslate="assistanceApp.contrat.pack" for="field_pack">Pack</label>
                        <select class="form-control" id="field_pack" name="pack" [(ngModel)]="contrat.pack" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="refPackOption.id === contrat.pack?.id ? contrat.pack : refPackOption" 
                            *ngFor="let refPackOption of refpacks; trackBy: trackRefPackById">{{refPackOption.nom}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label jhiTranslate="assistanceApp.contrat.compagnie" for="field_compagnie">Compagnie</label>
                        <select class="form-control" id="field_compagnie" name="compagnie" [(ngModel)]="contrat.compagnie" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="refCompagnieOption.id === contrat.compagnie?.id ? contrat.compagnie : refCompagnieOption" 
                            *ngFor="let refCompagnieOption of refcompagnies; trackBy: trackRefCompagnieById">{{refCompagnieOption.nom}}
                            </option>
                        </select>
                    </div>

                </ng-template>
            </ngb-tab>
                
            <ngb-tab title="Voiture">
                <ng-template ngbTabContent>
                    
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="assistanceApp.voiture.immatriculation" for="field_immatriculation">Immatriculation</label>
                        <input type="text" class="form-control" name="immatriculation" id="field_immatriculation"
                            [(ngModel)]="contrat.voiture.immatriculation" required pattern="\d{4}TU\d+" />
                        <div [hidden]="!(editForm.controls.immatriculation?.dirty && editForm.controls.immatriculation?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.immatriculation?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.immatriculation?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Immatriculation' }">
                                This field should follow pattern for "Immatriculation".
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="assistanceApp.voiture.miseCirculation" for="field_miseCirculation">Mise Circulation</label>
                        <div class="input-group">
                            <input id="field_miseCirculation" type="text" class="form-control" name="miseCirculation" ngbDatepicker  #miseCirculationDp="ngbDatepicker" [(ngModel)]="contrat.voiture.miseCirculation"
                            required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" (click)="miseCirculationDp.toggle()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div [hidden]="!(editForm.controls.miseCirculation?.dirty && editForm.controls.miseCirculation?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.miseCirculation?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="assistanceApp.voiture.puissanceFiscale" for="field_puissanceFiscale">Puissance Fiscale</label>
                        <input type="number" class="form-control" name="puissanceFiscale" id="field_puissanceFiscale"
                            [(ngModel)]="contrat.voiture.puissanceFiscale"  />
                    </div>
                    <div class="form-group" >
                        <label  for="field_marque">Marque</label>
                        <select class="form-control" id="field_marque" name="marque" [(ngModel)]="contrat.voiture.marque" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="refMarqueOption.id === contrat.voiture.marque?.id ? contrat.voiture.marque : refMarqueOption" *ngFor="let refMarqueOption of refmarques; trackBy: trackRefMarqueById">{{refMarqueOption.nom}}</option>
                        </select>
                    </div>
                </ng-template>
            </ngb-tab>



            <ngb-tab title="Assuré"   >
                <ng-template ngbTabContent>
                    <div class="form-group">
            <label class="form-control-label" jhiTranslate="assistanceApp.personne.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="contrat.assure.personne.prenom" required />
            <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assistanceApp.personne.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nomAssure" id="field_nom"
                [(ngModel)]="contrat.assure.personne.nom" required />
            <div [hidden]="!(editForm.controls.nomAssure?.dirty && editForm.controls.nomAssure?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nomAssure?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assistanceApp.personne.telPrincipal" for="field_telPrincipal">Tel Principal</label>
            <input type="number" class="form-control" name="telPrincipal" id="field_telPrincipal"
                [(ngModel)]="contrat.assure.personne.telPrincipal" required />
            <div [hidden]="!(editForm.controls.telPrincipal?.dirty && editForm.controls.telPrincipal?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telPrincipal?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.telPrincipal?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assistanceApp.personne.autreTel" for="field_autreTel">Autre Tel</label>
            <input type="number" class="form-control" name="autreTel" id="field_autreTel"
                [(ngModel)]="contrat.assure.personne.autreTel"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assistanceApp.personne.fax" for="field_fax">Fax</label>
            <input type="number" class="form-control" name="fax" id="field_fax"
                [(ngModel)]="contrat.assure.personne.fax"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assistanceApp.personne.mailPrincipal" for="field_mailPrincipal">Mail Principal</label>
            <input type="text" class="form-control" name="mailPrincipal" id="field_mailPrincipal"
                [(ngModel)]="contrat.assure.personne.mailPrincipal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assistanceApp.personne.autreMail" for="field_autreMail">Autre Mail</label>
            <input type="text" class="form-control" name="autreMailAssure" id="field_autreMail"
                [(ngModel)]="contrat.assure.personne.autreMail"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assistanceApp.personne.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresseAssure" id="field_adresse"
                [(ngModel)]="contrat.assure.personne.adresse" required />
            <div [hidden]="!(editForm.controls.adresseAssure?.dirty && editForm.controls.adresseAssure?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.adresseAssure?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assistanceApp.personne.latitude" for="field_latitude">Latitude</label>
            <input type="text" class="form-control" name="latitude" id="field_latitude"
                [(ngModel)]="contrat.assure.personne.latitude"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="assistanceApp.personne.longitude" for="field_longitude">Longitude</label>
            <input type="text" class="form-control" name="longitude" id="field_longitude"
                [(ngModel)]="contrat.assure.personne.longitude"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="assistanceApp.personne.ville" for="field_ville">Ville</label>
            <select class="form-control" id="field_ville" name="ville" [(ngModel)]="contrat.assure.personne.ville">
                <option [ngValue]="null"></option>
                <option [ngValue]="sysVilleOption.id === contrat.assure.personne.ville?.id ? contrat.assure.personne.ville : sysVilleOption" *ngFor="let sysVilleOption of villes; trackBy: trackSysVilleById">{{sysVilleOption.nom}}</option>
            </select>
        </div>
                </ng-template>
            </ngb-tab>


        </ngb-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit"  [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
   </div>
   
</form>
